@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 100%;
}

body {
    font-family: "Libre Baskerville", serif;
    padding: 1rem;
    line-height: 1.8;
    width: 100%;
}

h1 {
    font-weight: 700;
}

h5 {
    font-weight: 700;
}

.resource-list-container {
    width: 80%;
}

.resource-list-from-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resource-list-item {
    width: 5rem;;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
    padding: 0.5rem;
}

@media (max-width: 576px) {
    .resource-list-from-category {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .resource-list-item {
        width: 100%;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        margin-right: 1.2rem;
        padding: 0.5rem;
    }
}
