@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: "IBM Plex Serif", serif;
    width: 65%;
    margin: auto;
    padding: 1em;
}

h1 {
    font-weight: 700;
}