@font-face {
  font-family: 'Playfair Display Regular';
  src: url('{{ "assets/fonts/PlayfairDisplay-VariableFont_wght.ttf" | relative_url }}');
}

body {
    font-family: "Playfair Display Regular";
}