---
layout: default
---

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<h1>{{ page.title }}</h1>

Je moeder.23
{% assign d = site.data | map: page.data_src %}
{{ d | inspect }}
<section id="list">
  {% for album in page.list %}
  <div>
    {{ album | inspect }}
    {{ album.nr }}
    <span>{{ d[album.nr].title }}</span>
    <span>{{ d[album.nr].year}}</span>
    <span>{{ d[album.nr].genre }}</span>
    <div>{{ album.rating }}</div>
    <div>{{ album.description }}</div>
  </div>
  {% endfor %}
</section>
