---
layout: default
---

<style type="text/css">
  .album-title {
    font-weight: bold;
  }
  .album-title {
    font-style: italic;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
</style>

<h1>{{ page.title }}</h1>

{% assign data = site.data | map: page.data_src | first %}
<div class="container-md">
  <section id="albums-list">
    {% for album in page.list %}
    <div class="row pt-3">
      <div class="col-1">
        {% if page.ordered %}
          <div class="list-position">#{{ forloop.index }}</div>
        {% endif %}
      </div>
      <div class="col-11">
        <div class="row">
          <div class="col-3">
            <div class="album-art">
              <img src="/assets/images/{{ album.id }}.jpg" />
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="album-header">
                <span class="album-title">{{ data[album.id].title }}</span>
                &mdash;
                <span class="album-artist">{{ data[album.id].artist }}</span>
                <span class="album-year">({{ data[album.id].year }})</span>
              </div>
            </div>
            <div class="row pt-2">
              <div class="album-info">
                <div class="album-rating">
                  {% for i in album.rating %}★{% endfor %}
                </div>
                <div class="album-description"><p>{{ album.description }}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
