---
layout: default
---

<style type="text/css">
  .resource-list-from-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .resource-list-item {
    margin-top: 1.2em;
    margin-right: 1.2em;
    padding: 0.5em;
  }
</style>

<h1>{{ page.title }}</h1>

<div class="resource-list-container container">
  <section id="resource-list">
    {% for resources in page.list %}
    <div class="row">
      <h2>{{ resources.category }}</h2>
    </div>
    <div class="resource-list-from-category row">
      {% for resource in resources.items %}
      <div class="resource-list-item">
        <div class="resource-title">
          <h5>{{ resource.title }}</h5>
        </div>
        <div class="resource-author-and-date">
          <span class="author">{{ resource.author }}</span>
          &mdash;
          <span class="date">{{ resource.date }}</span>
        </div>
        <div class="resource-link">
          <a href="{{ resource.link }}">{{ resource.link }}</a>
        </div>
        <div class="resource-tags">Tags: {{ resource.tags }}</div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </section>
</div>
