---
layout: default
---

<style type="text/css">
  .resource-list-from-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>

<h1>{{ page.title }}</h1>

<div class="resource-list-container">
  <section id="resource-list">
    {% for resources in page.list %}
    <h2>{{ resources.category }}</h2>
    <div class="resource-list-from-category">
      {% for resource in resources.items %}
      <div class="resource-list-item">
        <div class="resource-title">
          <h5>{{ resource.title }}</h5>
        </div>
        <div class="resource-author-and-date">
          <span class="author">{{ resource.author }}</span>
          &mdash;
          <span class="date">{{ resource.date }}</span>
        </div>
        <div class="resource-link">
          <a href="{{ resource.link }}">{{ resource.link }}</a>
        </div>
        <div class="resource-tags">Tags: {{ resource.tags }}</div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </section>
</div>
