@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!

h1.page-title {
  // font-family: monospace;
  &::before {
    content: "👨🏻‍💻 "  ;
  }
}

.page {
  @media all and (max-width: $fullPageWidth) {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $pageWidth;
  }

  & article {
    & > h1 {
      font-size: 1.6rem;
    }
  }
}

// typography improvements
h1 {
  font-size: 1.65rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.33rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.transclude {
  border-left: 0;
  padding-left: 0rem;
  ul {
    padding-left: 1rem;
  }
}

/* Explorer. */
.explorer {
  h2 {
    font-size: 1rem;
  }
  #explorer-ul {
    a[data-for="Articles"]::before {
      content: "📰 ";
    }
    a[data-for="Presentations"]::before {
      content: "📈 ";
    }
    a[data-for="Notes"]::before {
      content: "🗒️ ";
    }
    a[data-for="Music"]::before {
      content: "🎧 ";
    }
    a[data-for="Books"]::before {
      content: "📖 ";
    }
    li {
      // margin-bottom: 0.8rem;
      // list-style-type: "∙ ";
    }
  }
}

.recent-notes {
  h2 {
    font-size: 1.1rem;
    margin-top: 0;
  }
  .recent-ul {
    a.internal {
      background-color: transparent;
    }
    li {
      list-style: none;
    }
    span.recent-li-date {
      font-family: monospace;
    }
  }
}

span.blockspam {
  display: none;
}
